html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
	margin: 0; /* 기존의 body margin을 제거합니다. */
}

.footer {
	position: fixed; /* 화면 하단에 고정되도록 변경합니다. */
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	text-align: center;
}

.content {
	margin-left: 100px; /* 좌측 마진을 줄입니다. */
	margin-right: 100px; /* 우측 마진을 줄입니다. */
	max-width: 1600px; /* content의 최대 너비를 조절합니다. */
    margin: 0 auto; /* 가운데 정렬을 위해 좌우 마진을 자동으로 조정합니다.*/
    padding-top: 100px; /* content 위에 공간을 확보합니다. */
	padding-bottom: 100px; /* content 아래에 공간을 확보합니다. */
}

@media (max-width: 1600px) {
    .content {
        margin-left: 50px;
        margin-right: 50px;
    }
}