html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
	margin: 0; /* 기존의 body margin을 제거합니다. */
}

.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	text-align: center;
}

.content {
	margin-top: 50px;
	margin-left: 50px; /* 좌측 마진을 줄입니다. */
	margin-right: 50px; /* 우측 마진을 줄입니다. */
	padding-bottom: 100px; /* content 아래에 공간을 확보합니다. */
}