
<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/mainlayout}"
	>
<head>
	<meta charset="UTF-8">
	<title>Main Page</title>
</head>
<!-- fabicon 에러해결용 -->
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<div layout:fragment="content" class="content">
		<!-- 사이드바 및 메인 콘텐츠; announcement >> noticeboard -->
		<nav
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">
			<div class="noticeboard-section">
				<h2>
					<a href="#noticeboard">공지사항</a>
				</h2>
				<ul>
					<li><a href="#noticeboard1">공지사항 1</a></li>
					<li><a href="#noticeboard2">공지사항 2</a></li>
				</ul>
			</div>
			<div class="freeboard-section">
				<h2>
					<a href="#freeboard">자유게시판</a>
				</h2>
				<ul>
					<li><a href="#freeboard1">게시글 1</a></li>
					<li><a href="#freeboard2">게시글 2</a></li>
				</ul>
			</div>
		</nav>
	
		<div class="content">
			<!-- 메인 콘텐츠 : 비주얼 이미지 슬라이드 -->
			<div class="slideshow-container">
				<div class="mySlides fade">
					<img src="/img/care1.jpg" alt="어필1">
				</div>
	
				<div class="mySlides fade">
					<img src="/img/care2.jpg" alt="어필2">
				</div>
	
				<div class="mySlides fade">
					<img src="/img/care3.jpg" alt="어필3">
				</div>
				<div class="mySlides fade">
					<img src="/img/care4.jpg" alt="어필4">
				</div>
				<div class="mySlides fade">
					<img src="/img/promise.jpg" alt="어필5">
				</div>
			</div>

		</div>
		<!-- 추가된 슬라이드 쇼 JavaScript -->
		<script th:src="@{/js/slideshow.js}"></script>
	</div>
</html>