
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/mainLayout}">
<head>
<meta charset="UTF-8">
<title>Main Page</title>
</head>
<!-- fabicon 에러해결용 -->
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<body>
	<!-- 사이드바 및 메인 콘텐츠 -->
	<div layout:fragment="content" class="content">
		<div class="sidebar-1">
			<nav class="navbar-nav bg-gradient-primary sidebar-dark accordion"
				id="accordionSidebar1">
				<div class="noticeboard-section">
					<h2>
						<a href="#noticeboard">공지사항</a>
					</h2>
					<ul>
						<li><a href="#noticeboard1">공지사항 1</a></li>
						<li><a href="#noticeboard2">공지사항 2</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="sidebar-2">
			<nav class="navbar-nav bg-gradient-primary sidebar-dark accordion"
				id="accordionSidebar2">
				<div class="freeboard-section">
					<h2>
						<a href="#freeboard">자유게시판</a>
					</h2>
					<ul>
						<li><a href="#freeboard1">게시글 1</a></li>
						<li><a href="#freeboard2">게시글 2</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- 메인 콘텐츠 : 비주얼 이미지 슬라이드 -->
		<nav class="slideshow-container">
			<div class="mySlides">
				<img src="/img/care1.png" width="100%" alt="어필1">
			</div>

			<div class="mySlides">
				<img src="/img/care2.png" width="100%" alt="어필2">
			</div>

			<div class="mySlides">
				<img src="/img/care3.jpg" width="100%" alt="어필3">
			</div>
			<!-- <div class="mySlides">
				<img src="/img/care4.jpg" width="100%" alt="어필4">
			</div>
			<div class="mySlides">
				<img src="/img/promise.jpg" width="100%" alt="어필5">
			</div>-->
			<!-- 불릿 -->
			<div class="dot-container" style="text-align: center">
				<span class="dot"></span> <span class="dot"></span> <span
					class="dot"></span>
			</div>
		</nav>
		<section class="care-section" id="services">
			<div class="container">
				<div class="text-center">
					<h2 class="section-heading text-uppercase">요양보호사</h2>
					<h3 class="section-subheading text-muted">따뜻한 마음으로 어르신을 돌보는
						우리는 모두의 돌봄전문가.</h3>
				</div>
				<div class="row text-center">
					<div class="col-md-4">
						<span class="fa-stack fa-4x"> <i
							class="fas fa-circle fa-stack-2x text-primary"></i> <i
							class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
						</span>
						<h4 class="my-3">신체활동 지원</h4>
						<p class="text-muted">
							- 식사하기, 체위변경 및 이동하기, 화장실이용, 개인위생활동 및 몸단장, 신체기능 증진활동 등의 도움을 통해<br>
							안전하고 건강하게 돌봐드립니다.
						</p>
					</div>
					<div class="col-md-4">
						<span class="fa-stack fa-4x"> <i
							class="fas fa-circle fa-stack-2x text-primary"></i> <i
							class="fas fa-laptop fa-stack-1x fa-inverse"></i>
						</span>
						<h4 class="my-3">인지활동 지원</h4>
						<p class="text-muted">
							- 회상 훈련, 기억력 향상 활동, 남아있는 기능의<br> 유지‧향상을 위한 인지자극활동 등을 통해<br>
							건망이 아닌 건강을 챙겨드립니다.
						</p>
					</div>
					<div class="col-md-4">
						<span class="fa-stack fa-4x"> <i
							class="fas fa-circle fa-stack-2x text-primary"></i> <i
							class="fas fa-lock fa-stack-1x fa-inverse"></i>
						</span>
						<h4 class="my-3">일상생활 및 정서 지원</h4>
						<p class="text-muted">
							- 어르신의 방 안 청소 및 주변정돈, 식사준비,<br> 말벗, 의사소통 도움, 외출 동행 등을 통해<br>
							외롭지 않고 즐거운 일상을 보내게 됩니다.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="care-section bg-light" id="portfolio">
			<div class="container">
				<div class="text-center">
					<h2 class="section-heading text-uppercase">THE 홈케어의 발자취</h2>
					<h3 class="section-subheading text-muted">언제나 그들을 위한 요양보호사의 발은
						멈추지 않습니다.</h3>
				</div>
				<div class="row">
					<div class="col-lg-4 col-sm-6 mb-4">
						<!-- Portfolio item 1-->
						<div class="portfolio-item">
							<a class="portfolio-link" data-bs-toggle="modal"
								href="#portfolioModal1">
								<div class="portfolio-hover">
									<div class="portfolio-hover-content">
										<i class="fas fa-plus fa-3x"></i>
									</div>
								</div> <img class="img-fluid" src="/img/logo.png" alt="..." />
							</a>
							<div class="portfolio-caption">
								<div class="portfolio-caption-heading">업적1</div>
								<div class="portfolio-caption-subheading text-muted">설명1</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mb-4">
						<!-- Portfolio item 2-->
						<div class="portfolio-item">
							<a class="portfolio-link" data-bs-toggle="modal"
								href="#portfolioModal2">
								<div class="portfolio-hover">
									<div class="portfolio-hover-content">
										<i class="fas fa-plus fa-3x"></i>
									</div>
								</div> <img class="img-fluid" src="/img/logo.png" alt="..." />
							</a>
							<div class="portfolio-caption">
								<div class="portfolio-caption-heading">업적2</div>
								<div class="portfolio-caption-subheading text-muted">설명2</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mb-4">
						<!-- Portfolio item 3-->
						<div class="portfolio-item">
							<a class="portfolio-link" data-bs-toggle="modal"
								href="#portfolioModal3">
								<div class="portfolio-hover">
									<div class="portfolio-hover-content">
										<i class="fas fa-plus fa-3x"></i>
									</div>
								</div> <img class="img-fluid" src="/img/logo.png" alt="..." />
							</a>
							<div class="portfolio-caption">
								<div class="portfolio-caption-heading">업적3</div>
								<div class="portfolio-caption-subheading text-muted">설명3</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
						<!-- Portfolio item 4-->
						<div class="portfolio-item">
							<a class="portfolio-link" data-bs-toggle="modal"
								href="#portfolioModal4">
								<div class="portfolio-hover">
									<div class="portfolio-hover-content">
										<i class="fas fa-plus fa-3x"></i>
									</div>
								</div> <img class="img-fluid" src="/img/logo.png" alt="..." />
							</a>
							<div class="portfolio-caption">
								<div class="portfolio-caption-heading">업적4</div>
								<div class="portfolio-caption-subheading text-muted">설명4</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
						<!-- Portfolio item 5-->
						<div class="portfolio-item">
							<a class="portfolio-link" data-bs-toggle="modal"
								href="#portfolioModal5">
								<div class="portfolio-hover">
									<div class="portfolio-hover-content">
										<i class="fas fa-plus fa-3x"></i>
									</div>
								</div> <img class="img-fluid" src="/img/logo.png" alt="..." />
							</a>
							<div class="portfolio-caption">
								<div class="portfolio-caption-heading">업적5</div>
								<div class="portfolio-caption-subheading text-muted">설명5</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-6">
						<!-- Portfolio item 6-->
						<div class="portfolio-item">
							<a class="portfolio-link" data-bs-toggle="modal"
								href="#portfolioModal6">
								<div class="portfolio-hover">
									<div class="portfolio-hover-content">
										<i class="fas fa-plus fa-3x"></i>
									</div>
								</div> <img class="img-fluid" src="/img/logo.png" alt="..." />
							</a>
							<div class="portfolio-caption">
								<div class="portfolio-caption-heading">업적6</div>
								<div class="portfolio-caption-subheading text-muted">설명6</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>