<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}"
	>
	<div layout:fragment="content" class="content">
	
	    <h2>요양보호사 찾기</h2>
	
	    <div th:if="${not #lists.isEmpty(caregivers)}">
	        <table class="table">
	            <thead>
	                <tr>
	                    <th>이름</th>
	                    <th>경력</th>
	                    <th>자격증</th>
	                    <th>사용 가능한 시간</th>
	                    <th>요청</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="caregiver : ${caregivers}">
	                    <td th:text="${caregiver.name}">이름</td>
	                    <td th:text="${caregiver.experience}">경력</td>
	                    <td th:text="${caregiver.certifications}">자격증</td>
	                    <td th:text="${caregiver.availableTime}">사용 가능한 시간</td>
	                    <td><a th:href="@{/matching/request(caregiverId=${caregiver.id})}" class="btn btn-primary">요청</a></td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	    <div th:if="${#lists.isEmpty(caregivers)}">
	        <table class="table">
	            <thead>
	                <tr>
	                    <th>이름</th>
	                    <th>경력</th>
	                    <th>자격증</th>
	                    <th>사용 가능한 시간</th>
	                    <th>요청</th>
	                </tr>
	            </thead>
	        </table>
	        <p>사용 가능한 요양보호사가 없습니다.</p>
	    </div>
	
	</div>
</html>