<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">

<div layout:fragment="content" class="content">

    <h2>구직 정보</h2>

    <div class="job-list">
	    <div th:if="${not #lists.isEmpty(jobs)}">
	        <table class="table">
	            <thead>
	                <tr>
	                    <th>날짜</th>
	                    <th>시간</th>
	                    <th>지역</th>
	                    <th>상태</th>
	                    <th>상세정보</th>
	                    <th>요청</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="job : ${jobs}">
	                    <td th:text="${job.date}">날짜</td>
	                    <td th:text="${job.time}">시간</td>
	                    <td th:text="${job.location}">지역</td>
	                    <td th:text="${job.status}">상태</td>
	                    <td><a th:href="@{/matching/detail(jobId=${job.id})}" class="btn btn-info">상세 보기</a></td>
	                    <td><a th:href="@{/matching/request(jobId=${job.id})}" class="btn btn-primary">요청</a></td>
	                </tr>
	            </tbody>
	        </table>
 	   </div>
	    <div th:if="${#lists.isEmpty(jobs)}">
	        <table class="table">
	            <thead>
	                <tr>
	                    <th>날짜</th>
	                    <th>시간</th>
	                    <th>지역</th>
	                    <th>상태</th>
	                </tr>
	            </thead>
	        </table>
	        <p>사용 가능한 구직정보가 없습니다.</p>
 	   </div>
    </div>

</div>

</html>
